layout {
    tab name="overview" focus=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane name="workspaces and projects" size="50%" command="nu" {
                args "-e" "source ($env.HOME)/.config/niri/workspace-overview.nu"
            }
            pane name="control"
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
}
