layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane split_direction="vertical" {
        pane
        pane command="watchexec" {
        	args "just" "test-elt"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
